<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/javascripts/phaser.min.js"></script>

    <script src="/javascripts/GameStates/boot.js"></script>
    <script src="/javascripts/GameStates/load.js"></script>
    <script src="/javascripts/GameStates/menu.js"></script>
    <script src="/javascripts/GameStates/multiplayer.js"></script>
    <script src="/javascripts/GameStates/createServer.js"></script>
    <script src="/javascripts/GameStates/join.js"></script>
    <script src="/javascripts/GameStates/wait.js"></script>
    <script src="/javascripts/GameStates/gamePlay.js"></script>
    <script src="/javascripts/GameStates/enemyWin.js"></script>
    <script src="/javascripts/GameStates/playerWin.js"></script>
    <script src="/javascripts/GameStates/leaderboard.js"></script>
    <script src="/javascripts/GameStates/game.js"></script>


    <style>
        body{
            background-color: white;
            width:100%;
            position:relative;
            float:left;
            margin:0;
            padding:0;
            text-align:center;
        }
        canvas{
            margin:0 auto;
        }
    </style>
</head>
<body>
<div id="game"></div>
</body>
</html>

<script>

    window.addEventListener("keydown", function(e) {
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);

</script>